{{template "base" . }}

{{define "title"}}
    Subscribe To Bronze
{{end}}

{{define "content"}}
{{ $vue := .VueGlue }}

<h2>Subscribe to the Widgets Bronze Plan</h2>
<hr>
  {{ if $vue }}
    <div data-entryp="new-sub"></div>
  {{ else }}
    {{ template "stripe-form" . }}
  {{ end }}
{{ end }}

{{ define "js" }}
    {{ $vue := .VueGlue }}
    {{ if not $vue }}
      {{template "stripejs" .}}
    {{ end }}
{{ end }}

