{{ template "base" . }}

{{ define "title" }}
Recover your password
{{ end }}


{{ define "content" }}
  <h2 class="mt-3 text-center">Password Reset Link Set to You</h2>
  <p>An email to xxx for resetting your password has been sent.</p>
{{ end }}